body{
    background-color: #dfdfdf!important;
}
.quiz-box,
.center,
.score-box{
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-start.display-none{
    opacity: 0;
    pointer-events: none;
}

.btn-next{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.7) translateY(25%);
    transition: all .3s ease!important;


}

.btn-next.display{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    
}

.disabled{
    pointer-events: none;
}

.quiz-box.display {
    opacity: 1!important;
    pointer-events: auto!important;
    transform: translate(-50%,-50%) scale(1);
    transition: all .2s ease-in!important;

}
.quiz-box{
    width: 1000px;
    border: 1px solid rgb(0, 0, 0)!important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    pointer-events: none;
    transform: translate(50%,50%) scale(0.7);


}

.quiz-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0 ;
    background-color: #fff;
    
    

}

.quiz-option:hover{
    background-color: #acf9ff;
    cursor: pointer;


}
.quiz-option-content{
    align-items: center;
    display: flex;

}

.quiz-option span{
    margin-right: .7rem;
    font-weight: 600;
}
.quiz-option p{
    margin: auto 0;
    font-weight: 600;
}

.quiz-question-text{
    margin-bottom: 2rem;
}

.correct{
    background-color: #acffbe!important;
    color: #005711;

}
.incorrect{
    background-color: #ffacac!important;
    color: #570000;
}

.quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-questionIndex{
    font-size: 1.4rem;
    font-weight: 600;
    color: #777 ;
}

.quiz-box .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 /* score box  */

.score-box.display {
    opacity: 1!important;
    pointer-events: auto!important;
    transform: translate(-50%,-50%) scale(1);
    transition: all .2s ease-in!important;

}
.score-box {
    width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
    border: 1px solid rgb(0, 0, 0)!important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    
    
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.7);


} 

.score-box .icon{
    font-size: 90px;
    color: goldenrod;;
    margin-bottom: 1rem;
  
}

.score-text{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;

}

.score-box .buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}